<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="solidbase">
            <label>SolidBase</label>
        </tab>
        <section id="solidbase" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Global Configuration</label>
            <tab>solidbase</tab>
            <resource>SolidBase_Base::system_config</resource>
            <group id="modules_enabled" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Modules Enabled</label>
            </group>
        </section>
    </system>
</config>
